 body {
      background-color: #4dd2ff;
    }
    .center {
      text-align: center;
      border: 5px solid green;
    }
    h3 {
      text-align: right;
    }
    div.fixed {
    position: fixed;
    top: 5px;
    right: 6px;
    width: 75px;
    height: 75px;
    }
    div.by {
    position: relative;
    top: -50px;
    font-size: 24pt;
    font-family: Arial;
    }
    div.polihub {
    position: absolute;
    top: 75px;
    font-size: 40pt;
    font-family: verdan;
    text-align: center;
    width: 100%;
    }
    div.bttnfont {
    font-size: 20pt;
    font-family: verdan;
    }
    .dbutton {
    position: relative;
    top:-20px;
    background-color: #4CAF50;
    color: green;
    padding: 16px;
    font-size: 16px;
    font-family:verdana;
    border: green;
    cursor: pointer;
    width: auto;
    height: 50px;
    outline: none;
    }
    .search {
    position: relative;
    background-color: #80dfff;
    color: #333333;
    padding: 16px;
    font-size: 18px;
    border: none;
    outline: none;
    }
    .resetButton{ outline: none; }
    
    audio::-webkit-media-controls-panel {
    background-color: #00ccff;
    outline: none;
    color: #4dd2ff;
    }
    .logo {
    width:200px;
    height:200px;
    position:absolute;
    top:0px;
    }

p {
  font-family:verdan;
}
  
  
li {
  display: inline-table;
  list-style-type: none;
  text-transform: uppercase;
  padding: 1em;
}

li span {
  display: block;
}


h6 {
  position: relative;
  top: -100px;
  text-align: center;
  font-family: arial;
  font-size: 30px;
}
h5 {
  top: -100px;
  text-align: center;
  font-family: verdan;
  font-size: 30px;
}
.zoom {
  padding: 50px;
  border: 5px solid #555;
  background-image:  url('menu_bind.png');
  transition: transform .3s;
  width: 150px;
  height: 250px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: round;
}
.zoom:hover {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}
.zoomimg {
   color: green;
   width: 150px;
   height: 250px;
}




    
    
  .dropbtn {
  background-color: #4dd2ff;
  border-color: #4dd2ff;
  box-shadow: none;
  font-size: 16px;
  padding: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  } 

  .dropdown {
  position: absolute;
  display: inline-block;
  }

  .dropdown-content {
  display: none;
  position: fixed;
  right: 6px;
  border: 3px solid #00ccff;
  background-color: #80dfff;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 96, 128, 0.5);
  z-index: 2;
  }

  .dropdown-content a {
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown-content a:hover {
   background-color: #00ccff;
   }

  .dropdown:hover .dropdown-content {
  display: block;
  }
  .dropdown:hover .dropbtn {
  background-color: #00ccff;
  }
