 body {
      background-color: #4dd2ff;
}
.zielone {
    position: relative;
    top:-25px;
    background-color: #4CAF50;
    color: green;
    padding: 16px;
    font-size: 16px;
    font-family:verdana;
    border: green;
    cursor: pointer;
    width: auto;
    height: 50px;
    outline: none;
}
.dbutton {
    position: relative;
    top:-20px;
    background-color: #ff6666;
    color: red;
    padding: 16px;
    font-size: 16px;
    font-family:verdana;
    border: red;
    cursor: pointer;
    width: auto;
    height: 50px;
    outline: none;
}
